.button_add_cart {
  padding: 10px 30px;
  color: black;
  color: white;
  border: 1px solid #101010;
  color: darkkhaki;
  font-weight: 500;
  transition: transform 0.2s ease-in-out;
  background-color: transparent;
}
.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .button_add_cart {
    font-size: 14px;
  }
}
