.heightImage {
  height: 200px;
}

.fontSize_titleCard {
  font-size: 18px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container_buttons {
  visibility: hidden;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50);
  transform: translateY(-50%);
}

.bg_overlay {
  transition: height 0.2s ease-in-out;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0px;
  background: rgba(189, 183, 107, 0.9);
  border-radius: 5px;
}

.container__card {
  cursor: pointer;
}

.container__card:hover {
  box-shadow: 0px 0px 8px 4px #aeaeae;
  border: none !important;
}

.container__card:hover .bg_overlay {
  visibility: visible;
  height: 100%;
}
.container__card:hover .container_buttons {
  visibility: visible;
}

.container__summary {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border: none !important;
  padding: 20px 20px !important;
}

.fixed__summary {
  max-height: 400px;
  position: fixed;
  right: 20px;
}

.my_cart {
  margin: 30px 0px;
  text-align: left;
}

.title_sweet_alert {
  font-size: 22px !important;
  font-weight: 600 !important;
}

@media (max-width: 768px) {
  .fixed__summary {
    margin-top: 50px !important;
    position: inherit;
  }
}
