.outline {
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 7px 13px;
}

.navBar {
  background-color: #bdb76b;
  padding: 15px 0px !important;
  position: fixed !important;
  width: 100%;
  z-index: 3000;
  top: 0;
}

.brand {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 300;
}

.item_nav {
  color: white;
  text-decoration: none;
  margin-right: 7px;
  border-radius: inherit;
}

.item_nav,
.brand:hover {
  color: white;
}

.outline:hover {
  background-color: #9fa0a078;
  color: white;
}

.show_cart {
  height: 200px;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2000;
  height: 100vh;
  border: 1px solid #e7e7e7;
  background-color: white;
  padding: 20px 30px;
  min-width: 450px;
  bottom: 0;
}

.overlay {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  height: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.badge {
  background-color: #938f8f;
  padding: 0px 6px;
}
