.outline {
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 7px 13px;
}

.navBar {
  background-color: darkkhaki;
  padding: 15px 0px !important;
}

.brand {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  margin-right: 20px;
}

.item_nav {
  color: white;
  text-decoration: none;
  margin-right: 7px;
}

.item_nav,
.brand:hover {
  color: white;
}

.outline:hover {
  background-color: #9fa0a078;
  color: white;
}
