.fontSize_titleCard {
  font-size: 18px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container_buttons {
  visibility: hidden;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50);
  transform: translateY(-50%);
}

.bg_overlay {
  transition: height 0.2s ease-in-out;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.container__card {
  cursor: pointer;
}

.title_product {
  font-weight: 400;
  font-size: 40px;
}

.price_formatted {
  font-weight: 800;
  font-size: 33px;
  margin-top: 3000px !important;
  letter-spacing: 1px;
}

.short_description,
.large_description {
  font-weight: 300;
  font-size: 16px;
}

.short_description {
  margin-bottom: 10px;
  margin: 20px 0px;
  font-weight: bold;
  font-size: 17px;
}

.image_product {
  margin-right: 300px;
  transition: all 500ms;
  height: 400px;
  width: 400px;
}

.image_product:hover {
  transform: scale(1.1);
}

.stock {
  color: rgb(175, 175, 175);
}

.margin_top {
  margin-top: 50px;
}

.error,
.success {
  font-weight: 400;
  letter-spacing: 1px;
}

.error {
  color: red;
}

.success {
  color: green;
}
